@import '@/styles/variables.scss', '@/styles/mixins.scss';

.header {
	width: 100%;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 16px;
	@include flex($justify: flex-start);
	h1 {
		margin-right: 4px;
		font-size: $font-title-sm;
	}
}

.track_list {
	@include flex($justify: flex-start, $wrap: nowrap, $direction: column);
	padding-bottom: 60px;
}
