@import '@/styles/variables.scss', '@/styles/mixins.scss';

.header {
	margin-top: 20px;
	margin-left: 10px;
	@include flex($justify: flex-start);
	.profile_image {
		border-radius: $rounded-full;
		margin-right: 10px;
	}
}

.header__title {
	font-size: $font-text-2xl;
}

.main {
	margin: 30px 10px 0 10px;
}
