@import '@/styles/variables.scss', '@/styles/mixins.scss';

.pageContent {
	width: 100%;
	@include flex($direction: column, $wrap: wrap);
	padding-bottom: 100px;
}

.header {
	width: 100%;
	padding: 20px 5%;
	@include flex($justify: flex-start);
	.profile_image {
		border-radius: $rounded-full;
		margin-right: 10px;
	}
}

.header__title {
	font-size: $font-text-2xl;
}

.main {
	width: 100%;
	margin-top: 20px;
	position: relative;
	@include flex($wrap: wrap, $direction: column);
}
