@import '@/styles/variables.scss', '@/styles/mixins.scss';

.header {
	height: 10%;
	@include flex($justify: flex-start);
	.profile_image {
		border-radius: $rounded-full;
		margin-right: 10px;
	}
}

.header__title {
	font-size: $font-text-2xl;
}

.main {
	height: 90%;
	padding: 30px 10px 0 10px;
}
