@import './variables.scss', './mixins.scss';

:root {
	--color--background: #{$color-light};
	--color--text: #{$color-dark};
}

html[data-theme='dark'] {
	--color--background: #{$color-dark};
	--color--text: #{$color-light};
}

body {
	background-color: var(--color--background);
	color: var(--color--text);
}
