@import '@/styles/variables.scss', '@/styles/mixins.scss';

.cards {
	@include flex();
	width: $size-image-sm;
	height: $size-image-sm;
	position: relative;
	z-index: $z-medium;
	@include from($small) {
		width: $size-image-base;
		height: $size-image-base;
	}
}

.status {
	position: absolute;
	width: 0px;
	height: 0px;
	z-index: $z-up;
	@include flex();

	&__icon {
		pointer-events: none;
		position: absolute;
		will-change: transform;
		transition: transform 0.2s ease-in-out;
		opacity: 0;
	}
	&__icon.isMoving {
		opacity: 0.7;
		transform: scale(3);
	}
}
